body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #1a1a1a;
    background-image: url('https://t3.ftcdn.net/jpg/01/29/57/24/360_F_129572402_uAJNWcrPUnH8v9FAKIFomhesiTkYsSfd.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fdf6e3;
    position: relative;
    /**/
}


header {
    text-align: center;
    padding: 1rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: url("https://img.pikbest.com/wp/202344/tree-bark-texture-panoramic-banner-close-up-of-wide-board-on-dark-brown-weathered-wood_9920489.jpg!w700wp");
    background-size: cover;
}

.logo {
    width: 150px;
    height: 150px;
}

nav {
    display: flex;
    gap: 3rem;
    background: url("https://img.pikbest.com/wp/202344/tree-bark-texture-panoramic-banner-close-up-of-wide-board-on-dark-brown-weathered-wood_9920489.jpg!w700wp");
    background-size: cover;
    padding: 1rem;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

nav a:hover {
    color: #f0c674;
}

h1, h2 {
    text-align: center;
    color: #ffeec2;
    text-shadow: 1px 1px 2px #000;
}

main, section, .text-content {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    border-radius: 12px;
    color: #fff8dc;
    margin: 1.5rem;
}

.imageSalon {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 2rem;
}

.text-content {
    flex: 1 1 45%;
}

.imageSalon img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    flex: 1 1 45%;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    border: 2px solid white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

input, select, button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #c19a6b;
    background-color: #fff8dc;
    color: #000;
}

button {
    background-color: #c19a6b;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #a6794e;
}
